/* import custom fonts */
@font-face {
    font-family: 'sf-ui-display';
    src: url('../fonts/sf-ui-display-thin.otf');
    font-weight: 100;
}

@font-face {
    font-family: 'sf-ui-display';
    src: url('../fonts/sf-ui-display-light.otf');
    font-weight: 200;
}

@font-face {
    font-family: 'sf-ui-display';
    src: url('../fonts/sf-ui-display-semibold.otf');
    font-weight: 600;
}
/* end custom fonts */

/*body styles*/

html {
    scroll-behavior: smooth;
}
  

body{
    background-image: url(../img/bg.svg);
    background-size: cover; 
    font-family: 'sf-ui-display';
    margin: 0;
    padding: 0;
    color: white;
}

/*end body styles*/

/* hero section */
.hero{
    height: 100vh;
    color: white;
    display: flex;
}

.hero .container{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* nav section */
.container nav{
    width: 100%;
}

.container nav ul{
    display: flex;
    justify-content: space-between;
    padding: 24px 32px;
    margin: 0;
}

nav ul li{
    list-style: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
}

ul a{
    color: inherit;
    text-decoration: none;
}
/* end nav section */

/* logo */
.container .logo h1{
    font-size: 12rem;
    font-weight: 600;
    text-transform: uppercase;
}

/* end logo */

/* end hero section */

/* h2 styles */
section > h2{
    font-size: 64px;
    font-weight: 200;
    text-transform: capitalize;
}

/* end h2 styles */

/* about section */

.about{
    display: flex;
    flex-direction: column;
    min-height: 400px;
    background-color: black;
    padding: 0px 32px;
    gap: 16px;
}

p, h2{
    margin: 0;
}

.about p{
    font-size: 24px;
    font-weight: 100;
    line-height: 160%;
}

/* end about section */

/* work section */
.work{
    display: flex;
    flex-direction: column;
    padding: 0px 32px;
    min-height: 400px;
    background-color: black;
}

.work .container-work{
    flex-grow: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 16px;
}

.container-work a{
    text-decoration: none;
    color: inherit;
}

.container-work a .card{
    color: black;
    min-height: 473px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 16px;
    padding: 24px;
    background-color: #CECECE;
    border-radius: 16px;
}

.card h3{
    margin: 0;
    padding: 0;
    font-size: 56px;
    font-weight: 200;
}

.card img{
    max-height: 250px;
    border-radius: 8px;
    object-fit: cover;
}

/* end work section */

/* contact section */
.contact{
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    min-height: 400px;
    padding: 0px 32px;
}

.contact .contact-container{
    flex-grow: 1;
    padding-top: 32px;
    display: flex;
    gap: 32px;
    align-items: start;
    justify-content: center;
}

.contact-container > img{
    cursor: pointer;
}

/* end contact section */

@media (max-width: 1368px){

    nav ul li{
        font-size: 16px;
    }
    .container .logo h1{
        font-size: 3rem;
        text-align: center;
    }

    .about, .work, .contact{
        margin-top: 32px;
        padding: 0px 16px;
    }

    .work{
        gap: 24px;
    }

    .work .container-work{
        grid-template-columns: 1fr;
        margin-bottom: 32px;
        gap: 48px;
    }

    .card img{
        max-width: 300px;
    }

    .container-work a .card{
        min-height: auto;
        align-items: center;
    }

    .card h3{
        font-size: 32px;
    }
}
