/* import custom fonts */
@font-face {
    font-family: 'sf-ui-display';
    src: url('../fonts/sf-ui-display-thin.otf');
    font-weight: 100;
}

@font-face {
    font-family: 'sf-ui-display';
    src: url('../fonts/sf-ui-display-light.otf');
    font-weight: 200;
}

@font-face {
    font-family: 'sf-ui-display';
    src: url('../fonts/sf-ui-display-semibold.otf');
    font-weight: 600;
}
/* end custom fonts */


body{
    background-image: url(../img/bg.svg);
    background-position: center;
    background-size: cover;
}